<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="/js/lib/jquery-1.9.1.js"></script>

  <script src="/js/models/Board.js"></script>
  <script src="/js/models/BoardView.js"></script>
  <script src="/js/models/Game.js"></script>
  <script src="/js/models/GameController.js"></script>
  <script src="/js/application.js"></script>

  <link rel="icon" href="favicon.png">
  <title>Tic-Tac-No</title>
</head>
<body>
  <%= yield %>
</body>
</html>
