<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="/js/lib/jquery-1.9.1.js"></script>

  <script src="/js/models/Board.js"></script>
  <script src="/js/models/BoardView.js"></script>
  <script src="/js/models/Game.js"></script>
  <script src="/js/models/GameCtrl.js"></script>
  <script src="/js/application.js"></script>

  <title>Title</title>
</head>
<body>
  <%= yield %>
</body>
</html>
